<div dir="rtl">

    <mat-card>
        <mat-card-title>רשימת קניות</mat-card-title>
        <mat-card-content>
            <form [formGroup]="form">
                <div class="add-action">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="הוסף מוצר" [formControl]="form.controls.item">
                    </mat-form-field>
                    <button mat-button color="primary" (click)="add(form.controls.item.value)">הוסף</button>
                </div>
            </form>

            <ul>
                <li *ngFor="let item of list;">
                    <mat-checkbox
                            [checked]="item.checked"
                            (change)="onChecked($event, item)">
                        <span class="product-name">{{item.name}} </span>
                        <span class="user-name">{{item.user.index}}</span>
                    </mat-checkbox>
                    <button mat-button color="warn" (click)="delete(item)">מחק</button>
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>